.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 50px;
}

.text-form {
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  border-bottom: 2px solid #000000;
}

.postCounter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.color-of-counter {
  color: red;
}

.tweet-submit {
  background-color: #4056A1;
  color: #FFFFFF;
  border: 0;
  box-shadow: none;
}

